<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dodaj receptrurę</title>
  <!-- CSS only -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h2>Dodaj receptrurę</h2>
  <hr/>
  <form th:action="@{/recipeIngredients/saveIngredient}" th:object="${ingredient}" method="POST">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Typ</label>
      <div class="col-sm-3 mb-4">
        <select th:field="*{rawMaterial}" class="form-control" required>
          <th:block th:each="raw : ${listMaterials}">
            <option th:text="${raw.type}" th:value="${raw.id}"/>
          </th:block>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="brewingNumber" class="col-sm-3 col-form-label">Ilość</label>
      <div class="col-sm-3 mb-4">
        <select th:field="*{rawMaterial}" class="form-control" required>
          <th:block th:each="raw : ${listMaterials}">
            <option th:text="${raw.name}" th:value="${raw.id}"/>
          </th:block>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="brewingNumber" class="col-sm-3 col-form-label">Ilość</label>
      <div class="col-sm-3 mb-4">
        <select th:field="*{rawMaterial}" class="form-control" required>
          <th:block th:each="raw : ${listMaterials}">
            <option th:text="${raw.unitMeasure}" th:value="${raw.id}"/>
          </th:block>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="brewingNumber" class="col-sm-3 col-form-label">Ilość</label>
      <div class="col-sm-3 mb-4">
        <input type="number" step="1" th:field="*{amount}"  class="form-control col-4 mb-4"/>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Zapisz</button>
    <input type="hidden" th:field="*{id}"/>
  </form>
</div>
<hr/>
<a th:href="@{/recipeIngredients/list}" class="btn">Wróć do receptur</a>
</body>
</html>