<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj surowiec</title>
    <!-- CSS only -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2>Dodaj surowiec</h2>
    <hr/>
    <form th:action="@{/rawMaterial/saveRawMaterial}" th:object="${material}" method="POST">
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Typ surowca</label>
            <div class="col-sm-3 mb-4">
                <input type="text" class="form-control" th:field="*{type}" required/>
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Nazwa surowca</label>
            <div class="col-sm-3 mb-4">
                <input type="text" th:field="*{name}"  class="form-control" required/>
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Jednostka miary</label>
            <div class="col-sm-3 mb-4">
                <input type="text" th:field="*{unitMeasure}" class="form-control" required/>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Zapisz</button>
        <input type="hidden" th:field="*{id}"/>
    </form>
    <hr/>
    <a th:href="@{/rawMaterial/list}" class="btn">Wróć do listy surowców</a>
</div>
</body>
</html>